{% extends "layout.html" %}

{% block title %}
    Change Admin Password
{% endblock %}

{% block main %}
<h1><b> Change Admin Password</b></h1>
<br>
<p style="color:red">{{error}}</p>

    <div>
    <form action="/changepassword" method="post">
        <input type="password" placeholder="old password" name="oldpassword" autocomplete="off">
        <br>
        <br>
        <input type = "password" placeholder="new password" name="newpassword" autocomplete="off">
        <br>
        <br>
        <input type = "password" placeholder="new password" name="confirmation" autocomplete="off">
        <br>
        <br>
        <button type submit>Change Password</button>
    </form>

</div>
<br>
{% endblock %}