{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
<p style="color:red">{{error}}</p>
<h1><b> {{ title }} </b></h1> <br>

<table class="table">
    <thead style="color: #ffff00">
        <tr>
            <th> {{ header }} </th>
            <th>QTY</th>
        </tr>
    </thead>
    <tbody style="color:white">
        {% for data in data %}
            <tr>
                <td>{{ data["item"] }}</td>
                <td>{{ data["qty"] }}</td>

            </tr>
        {% endfor %}
    </tbody>
    <tfoot style="color:yellow">
        <tr>
            <td>TOTAL: </td>
            <td>{{ total }}</td>
        </tr>
    </tfoot>
</table>

{% endblock %}